{% extends "base.html" %}
{% load articles_filters %}
{% load static %}
{% block page_content %}

<div class="article_search_row">
    <div class="article_search_row_input">
        <div class="article_search_row_input_icon"></div>
        <div class="article_search_row_input_field">Статья или категория</div>
    </div>
    <a href="#" class="article_search_row_button base_navigation_element_background">Найти</a>
     
</div>

<div style="margin-top:70px"></div>

<div class="base_block_header">{{ category_tiles_title }}</div>

<div class="category_row">
    {% for category_tile in category_tiles %}
        {% if forloop.last %}
            <a href="/articles/{{category_tile.name}}/" class="category_element_link" style="margin-right: 0px;">
        {% else %}
            <a href="/articles/{{category_tile.name}}/" class="category_element_link" style="margin-right: 20px;">
        {% endif %}


            <div class="category_element_text">
                {{ category_tile.name }}
            </div>
        </a>
    {% endfor %}

</div>

<div style="margin-top:25px"></div>

<div class="article_filter_by_date">За все время</div>

<div style="margin-top:25px"></div>

<div class="article_preview_row">
    {% for article in articles|sort_by_creation_date %}
    <div class="article_preview_card">

        <div class="article_preview_poster">
            <div class="article_preview_poster_category_block">
                {% for category in article.categories.all %}
                    <a class="article_preview_poster_category" href="{% url 'articles_category' category.name %}">
                        <div >
                            {{ category.name }}
                        </div>
                    </a>
                {% endfor %}
            </div>
            <div class="article_preview_poster_image" style="background-image: url({{ article.image_base.url }});">
            </div>
        </div>
        <div class="article_preview_text"> 
            <a href="{% url 'articles_detail' article.pk %}">
                <div class="article_preview_text_title">{{ article.title }}</div>
                <div class="article_preview_text_attractive_text">{{ article.attractive_text | safe |slice:":200"}} ...</div>
                <div class="article_preview_text_date">{{ article.last_modified.date | date:"M. Y"}}</div>
            </a>
        </div> 
    </div>
    {% endfor %}
</div>

{% endblock %}
