{% extends "base.html" %}
{% block page_content %}
{% load static %}
{% load articles_filters %}

<div class="article_detail_background_filler">
    <div class="article_detail_title">{{ article.title }}</div>
    <div class="article_detail_background_image" style="background-image: url({{ article.image_base.url }});"></div>
    
</div>



<!-- <div class="article_detail_info">
    <div class="article_detail_date">{{ article.last_modified.date | date:"M. Y"}}</div>
</div> -->
<div style="margin-top: 25px;"></div>

<div class="article_detail_composition_intro"> 
    
    {% if article.main_text_headers_list|length > 0 %}
    <div class="article_detail_composition">
        
        <div class="article_detail_composition_header">Оглавление</div>
        {% for queried_header in article.main_text_headers_list %}
            <div class="article_detail_composition_subheader">{{ queried_header }}</div>
        {% endfor %}     
        
    </div>
    {% endif %}   
    
    <div class="article_detail_intro">
        {{ article.attractive_text | safe }}
    </div>
</div>


<div class="article_main_text">
    {{ article.main_text | safe | linebreaks }}
</div>


{% if article|rel_articles|length > 0 %}

    <div class="base_block_header">Связанные статьи
        <span 
            class="badge badge-primary category_tiles_element_text" 
            style="background-color: {{ category.color }};"
        >{{ category.name }}</span>
    </div>
    <div class="article_preview_row">
        {% for article in article|rel_articles|sort_by_creation_date %}
        <div class="article_preview_card">

            <div class="article_preview_poster">
                <div class="article_preview_poster_category_block">
                    {% for category in article.categories.all %}
                        <a class="article_preview_poster_category" href="{% url 'articles_category' category.name %}">
                            <div >
                                {{ category.name }}
                            </div>
                        </a>
                    {% endfor %}
                </div>
                <div class="article_preview_poster_image" style="background-image: url({{ article.image_base.url }});">
                </div>
            </div>
            <div class="article_preview_text"> 
                <a href="{% url 'articles_detail' article.pk %}">
                    <div class="article_preview_text_title">{{ article.title }}</div>
                    <div class="article_preview_text_attractive_text">{{ article.attractive_text | safe |slice:":200"}} ...</div>
                    <div class="article_preview_text_date">{{ article.last_modified.date | date:"M. Y"}}</div>
                </a>
            </div> 
        </div>
        {% endfor %}
    </div>
    
{% endif %}    


{% endblock %}
