{% extends "base.html" %}
{% block page_content %}
{% load static %}
{% load articles_filters %}
<div class="container">

    <div class="base_block_header">В категории
        <span 
            class="badge badge-primary category_tiles_element_text" 
            style="background-color: {{ category.color }};"
        >{{ category.name }}</span>
    </div>
    <div class="article_preview_row">
        {% for article in articles|sort_by_creation_date %}
            <div class="article_preview_card">

                <div class="article_preview_poster" style="background-image: url({{ article.image_base.url }});">
                    <div class="article_preview_poster_category_block">
                        {% for category in article.categories.all %}
                            <a class="article_preview_poster_category" href="{% url 'articles_category' category.name %}">
                                <div >
                                    {{ category.name }}
                                </div>
                            </a>
                        {% endfor %}
                    </div>
                </div>
                <div class="article_preview_text"> 
                    <a href="{% url 'articles_detail' article.pk %}">
                        <div class="article_preview_text_title">{{ article.title }}</div>
                        <div class="article_preview_text_attractive_text">{{ article.attractive_text | safe |slice:":200"}} ...</div>
                        <div class="article_preview_text_date">{{ article.last_modified.date | date:"M. Y"}}</div>
                    </a>
                </div> 
            </div>
        {% endfor %}
    </div>

</div>
{% endblock %}


