{% extends "base.html" %}
{% block page_content %}
{% load static %}
{% load articles_filters %}
<div class="container article_detail">
    
    <div class="article_detail_cover" style="background-image: url({{ article.image_base.url }});">
        <div class="article_detail_title">{{ article.title }}</div>
    </div>



    <div class="article_detail_info">
        
        <div class="article_detail_categories">
            {% for category in article.categories.all %}
            <a href="{% url 'articles_category' category.name %}">
                <span class="badge badge-primary article_detailed_badge" style="background-color: {{ category.color }}">
                        {{ category.name }}
                </span>
            </a>
            {% endfor %}
        </div>
        <div class="article_detail_date">{{ article.last_modified.date | date:"M. Y"}}</div>
    </div>

    <div class="row row_tight"> 
        <!-- <img class="article_detail_img shadow bg-white" src="{% static article.image_base %}" alt="" > -->
        
        {% if article.main_text_headers_list|length > 0 %}
        <div class="article_subheaders_navigation">
            
            <h2>Содержание</h2>
            
            {% for queried_header in article.main_text_headers_list %}
            <div><a href="/articles/{{article.pk}}#queried_header{{ forloop.counter }}">
                <!-- <span class="badge badge-primary big_badge"> -->
                    {{ forloop.counter }}. {{ queried_header  }}
                <!-- </span> -->
            </a></div>
            {% endfor %}     
            
        </div>   
        {% endif %}     
    </div>
   

    <div class="article_main_text">
        {{ article.main_text | safe | linebreaks }}
    </div>

</div>
<div class="container">


    {% if article|rel_articles|length > 0 %}

        <div class="block_header">
            <h1>Связанные статьи</h1>
        </div>
        
        <hr>
        <div class="uicore-grid-container uicore-blog-grid uicore-grid-row uicore-masonry uicore-landscape-ratio uicore-medium-space animate-3 ui-st-boxed " data-grid="masonryb" data-col="3" data-space="30">
            {% for rel_article in article|rel_articles|sort_by_creation_date %}
            <div class="uicore-grid-item uicore-col-md-6 uicore-col-lg-4  uicore-float uicore-animate post-15671 post type-post status-publish format-standard has-post-thumbnail hentry category-smm category-lichnyj-opyt category-nejroseti"  >
                <article class="uicore-post">
                    <div class="uicore-post-wrapper">
                        <div class="uicore-blog-img-container uicore-zoom-wrapper">
                            <img class="uicore-cover-img" src="{{ article.image_base.url }}" width="100%" alt="{{ article.title }}">
                        </div>
                        <div class="uicore-post-info">
                            <div class="uicore-post-info-wrapper">
                                <h2 class="card-title project_card_title">
                                    <span>{{ article.title }}</span>
                                </h2>
                                <div class="uicore-post-category uicore-body">
                                    {% for category in article.categories.all %}
                                        <a href="{% url 'articles_category' category.name %}" title="View {{ category.name }}">
                                            <span class="badge badge-primary" style="background-color: {{ category.color }}">
                                                {{ category.name }}
                                            </span>
                                        </a>
                                    {% endfor %}
                                </div>
                                <p class="card-text">{{ article.attractive_text | safe |slice:":200"}} ...</p>
                                <div class="aricle_card_footer">
                                    <div class="uicore-post-footer uicore-body"><span>{{ article.last_modified.date | date:"d-m-Y"}}</span></div>
                                    <a 
                                        href="{% url 'articles_detail' article.pk %}" 
                                        title="{{ article.title }}"
                                        class="next_action_btn">Читать далее ...</a>
                                </div>
                            </div> 
                        </div>
                    </div>
                </article>
            </div>
            {% endfor %}
        </div>

        
    {% endif %}    



</div>

{% endblock %}
