version: '3.7'

services:

  # new_horizon_db:
  #   image: postgres:14.1-alpine
    
  #   environment:
  #     POSTGRES_DB: postgres
  #     # POSTGRES_HOST: 0.0.0.0
      
  #     POSTGRES_USER: postgres
  #     POSTGRES_PASSWORD: postgres
  #   ports:
  #     - "5432:5432"

  #   volumes:
  #     - new_horizon_postgres_data:/var/lib/postgresql/new_horizon_data/
  #     - ${PWD}/postgres.conf:/usr/src/new_horizon_rest/postgresql.conf

  #   command: postgres -c config_file=/etc/postgresql/postgresql.conf


  migrations:
    build: .
    command: python manage.py makemigrations; python manage.py migrate --noinput; 
    volumes:
      - .:/usr/src/new_horizon_project
    # depends_on:
    #   - new_horizon_db



  site:
    build: .
    command: python /usr/src/new_horizon_project/manage.py runserver 194.87.191.45:8000
    volumes:
      - .:/usr/src/new_horizon_project
      - /root/new_horizon_project/misc/db.sqlite3:/usr/src/new_horizon_project/misc/db.sqlite3
      - /root/new_horizon_project/misc/users_logfile.log:/usr/src/new_horizon_project/misc/users_logfile.log
    ports:
      - 8000:8000
    # environment:
    #   POSTGRES_DB: postgres
    #   POSTGRES_PASSWORD: postgres
    #   POSTGRES_NAME: postgres
    #   POSTGRES_USER: postgres
    depends_on:
      # - new_horizon_db
      - migrations


# volumes:
#   new_horizon_postgres_data: