{% load static %}

<div class="main-poster-main-poster shadow p-3 mb-5 bg-white">
<!-- <img class="main-poster-main-poster" src="{% static 'img/project2.png' %}" alt="..." width="100%"> -->
</div>
{% for main_poster in poster_description %}
    <div class="main-poster-text">
        <div class="main-poster-main-text">
            <!-- <p>Повесть лет словесных</p> -->
            <p>{{ main_poster.main_poster_text }}</p>
        </div>    
        <div class="main-poster-secondary-text">
            <p>{{ main_poster.main_poster_secondary_text }}</p>
        </div>

        <!-- <div class="main-poster-secondary-text">
            <p>Digital лекторий</p>
        </div> -->
    </div>
{% endfor %}