[Unit]
Description=gunicorn daemon
Requires=new_horizon_gunicorn.socket
After=network.target

[Service]
WorkingDirectory=/root/new_horizon_project
ExecStart=gunicorn \
    --preload \
    --access-logfile - \
    --workers 3 \
    --bind unix:/run/new_horizon_gunicorn.sock \
    wsgi:application

[Install]
WantedBy=multi-user.target