[Unit]
Description=gunicorn daemon
Wants=network-online.target
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/root/new_horizon_project
ExecStart=bash /root/new_horizon_project/service/starter.sh

[Install]
WantedBy=multi-user.target