[Unit]
Description=new_horizon
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
ExecStart=/bin/sh /media/alex/drive_2tb/Documents/Mega/projects/WEB_django/new_horizon_project/service/starter.sh
WorkingDirectory=/media/alex/drive_2tb/Documents/Mega/projects/WEB_django/new_horizon_project/
Restart=always
RestartSec=3
StandardOutput=journal+console

[Install]
WantedBy=multi-user.target