.rel_array_element p {
    font-size: 12px !important;
    margin-top: 5px;
    margin-bottom: 15px !important;
}

.rel_array_element h2 {
    font-size: 17px;
}

.rel_array_element a {
    width: 100%;
}

blockquote {
    margin-left: 2rem;

    font-size: 14px;
    padding-left: 10px;
    border-left: 5px solid #353535;
}

.rel_array_element {
    font-size: 12px !important;
    margin-bottom: 0px;
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    height: 450px;

}

.article_detail .badge {
    font-size: 14px;
}

.big_badge {
    font-size: 15px;
    margin-bottom: 3px;
    margin-left: 3px;
    padding: 7px;
}

.queried_header {
    padding-bottom: 10px;
    border-bottom: 5px solid #353535;
}

.row {
    margin-bottom: 30px;
    margin-top: 0px;
    /* max-width: 690px; */
    margin-left: auto;
    margin-right: auto;
}


.row img {
    width: 280px;
    height: 180px;
    margin: auto;
    object-fit: cover;
    margin-top: 0.5rem;
}

.row_tight {
    margin-right: auto;
    margin-bottom: 0px !important;
}


.main_description {
    margin-top: 40px;
}

.main_description p {
    font-size: 14px;
}


.articles_array {
    text-align: left;
    scroll-margin-top: 80px !important;
}

.article_detail_img {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    min-height: 262px;
    margin-top: 20px !important;

    object-fit: cover;
    display: flex;
    justify-content: center;
}


.article_attractive_text {
    margin-top: 40px;
    border-left: 5px solid #353535;
    padding-left: 10px;
    padding-bottom: 0px;

    max-width: min(70%, 500px);
    margin-left: 0px;
    /* margin-right: auto; */
}

.article_attractive_text p {
    margin-bottom: 0px;
}

.article_detail_cover {
    margin-bottom: 16px;
    padding: 0 20px 20px 20px;
    border-radius: 10px;
    background-size: cover;
    width: 100%;
    flex-direction: column-reverse;
    display: flex;
    height: 250px;
}

.article_detail_title {
    width: calc(100% - 40px);
    color: white;
    background: rgba(53, 53, 53, .7);
    padding: 0 10px 0 10px;
    border-radius: 10px;
    width: 100%;
}

.article_detail {
    /* padding-top: 50px; */
    max-width: 800px;
}

.article_detail p,
li {
    font-size: 16px !important;
    margin-bottom: 10px;
}

.article_detailed_badge {
    /* float:right; */
    margin-right: 5px;
}

.article_detail_info {
    text-align: left;
    font-size: 15px;
    margin-right: auto;
    display: flex;
}

.article_detail_date {
    margin-left: auto;
}

.article_main_text {
    margin-top: 70px;
    margin-bottom: 70px;
    font-size: 16px;
}

.article_main_text li::marker {
    color: #353535;
    font-weight: bold;
    display: none;
}

.article_main_text ol {
    padding-left: 20px;
}

.article_main_text ul {
    margin-bottom: 16px;
}


.article_main_text h6 {
    text-align: left;
    margin-top: 35px;
}

.article_main_text br {
    display: none;
}

@media (min-width: 0px) {
    .article_detail_title {
        /* margin-top: 0px; */
        font-size: 25px !important;
    }

    .article_main_text h6 {
        font-size: 20px;
    }
}


@media (min-width: 500px) {
    .article_detail_title {
        /* margin-top: 30px; */
        font-size: 30px !important;
    }

    .article_main_text h6 {
        font-size: 20px;
    }
}


@media (min-width: 738px) {
    .article_detail_title {
        /* margin-top: 50px; */
        font-size: 35px !important;
    }

    .article_main_text h6 {
        font-size: 26px;
    }
}


.article_subheaders_navigation {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px !important;
    margin-top: 15px !important;
    padding: 16px !important;
    background-color: #fcfaf5;
    ;
    display: block;
    width: 100%;
}

.article_subheaders_navigation a {
    font-size: 15px;
}

.article_subheaders_navigation h2 {
    font-size: 20px;
}