.popular_element {
    padding: 0px !important;
    margin: 0 auto;
}


.popular_element h5 {
    font-size: 2rem;
    margin: 0px;
    padding: 0px;
    position: absolute;
    transform: translate(20%, -160px);

    color: white;
    width: 280px;
    height: 160px;
}

.popular_element img {
    /* filter: brightness(60%); */
    margin: 0px !important;
    margin: 0.25rem;
    position: relative;
    display: block;
    z-index: -1;

    margin-left: auto;
    margin-right: auto;

    object-fit: cover;

    max-width: 500px;
    max-height: 500px;
}


.popular_header {
    margin-top: 50px;
}

.projects_header {
    display: flex;
    justify-content: center;
    text-align: center;
}

.category_tiles_grid {
    margin: auto;
    margin-bottom: 50px;
}

.category_tiles_element {
    display: contents;
}

.category_tiles_element a {
    text-decoration: none;
}


.category_tiles_element_text {
    text-align: center;
    border-radius: 10px;
    color: white;
    text-decoration: none;

}


@media (min-width: 0px) {
    .category_tiles_element_text {
        font-size: 12px;
        padding: 8px 15px 8px 15px;
        margin: 0px 0px 10px 10px;
        font-weight: 700;
    }

    .category_tiles_grid {
        max-width: 100%;
    }
}

@media (min-width: 600px) {
    .category_tiles_element_text {
        font-size: 20px;
        padding: 12px 17px 12px 17px;
        margin: 0px 0px 15px 15px;
    }

    .category_tiles_grid {
        max-width: 85%;
    }
}