{% extends "base.html" %}
{% block page_content %}
{% load static %}

<div class="container article_detail">
    <h1 class="article_detail_title">{{ quiz.question_title }}</h1>
    
    <div class="article_detail_info">

    </div>

    <div class="article_attractive_text">
        <p>{{ quiz.question_main_text }}</p>
    </div>    
    
    <div class="quiz_main_text">
        <!-- <form> -->
            <ul>
                {% for option in quiz.options %}
                    <li>
                        <div class="quiz_option">
                            <input 
                                class="answer" 
                                type="radio" 
                                id="option{{ forloop.counter }}" 
                                name="answer" 
                                value="{{ forloop.counter }}">

                                <label for="option{{ forloop.counter }}">{{ option }}</label>
                            </input>
                        </div>
                    </li>
                {% endfor %}
            </ul>

            <div class="quiz_result">
                <p id="quiz_answer" style="display: none;">{{ quiz.answer }}</p>
                <p id="quiz_fail_result" style="display: none;" class="alert alert-danger">{{ quiz.error_explanation }}</p>
                <p id="quiz_success_result" style="display: none;" class="alert alert-success">{{ quiz.success_congratulations }}</p>
            </div>

            <button 
                class="quiz_submit button_pr btn btn-primary" 
                id="submitButton" 
                type="submit"
                onClick="submitQuiz()">
                Готово
            </button>
        <!-- </form> -->

        
        
    </div>
    
    
</div>
<script src="{% static 'quiz.js' %}"></script>  
{% endblock %}