
<div class="base_footer">
  <a class="base_navigation_logo" href="{% url 'home' %}"><div></div></a>
  <div class="base_footer_actual_year">© Фиолетовый {% now 'Y' %}</div>
  
  <div class="base_footer_links_row">
    <div class="base_footer_links_element">
      <a href="https://vk.com/thalium">CTO - Александр</a>
    </div>
    <div class="base_footer_links_element">
      <a href="https://vk.com/mariya_music">Leading Methodologist - Мария</a>
    </div>
  </div>
</div>

<!-- <a href="https://vk.com/povest_let_slovenih">Сообщество ВКонтакте</a>
<a href="https://vk.com/thalium">CTO - Александр</a>
<a href="https://vk.com/mariya_music">Leading Methodologist - Мария</a>
<a class="nav-link4" href="{% url 'home' %}">Главная</a>
<a class="nav-link4" href="{% url 'articles_index' %}">Архив статей</a> -->
