<footer class="site-footer">
    <div class="container">
        <div class="row footer_row">
            <div class="col-sm-12 col-md-6">
                <h6>Контакты:</h6>
                  <ul>
                    <li><a href="https://vk.com/povest_let_slovenih">Сообщество ВКонтакте</a></li>
                    <li><a href="https://vk.com/mariya_music">Главный редактор - Мария</a></li>
                    <li><a href="https://vk.com/thalium">Техническая сторона - Александр</a></li>
                  </ul>
            </div>
            <div class="col-sm-12 col-md-6">
              <h6>Быстрые ссылки:</h6>                
                  <ul>
                    <li><a class="nav-link4" href="{% url 'home' %}">Главная</a></li>
                    <li><a class="nav-link4" href="{% url 'articles_index' %}">Статьи</a></li>
                  </ul>
            </div>
        </div>
      </div>
    <!-- <div class="container">
      <div class="row footer_row">
        <div class="col-md-8 col-sm-6 col-xs-12">
          <p class="copyright-text">Copyright &copy; 2022 Все права защищены
       <a href="#"></a>.
          </p>
        </div>

      </div>
    </div> -->
</footer>