<footer class="site-footer">
    <div class="container">
        <div class="row footer_row">
            <div class="col-sm-12 col-md-6">
                <h6>Контакты:</h6>
                  <ul>
                    <li><a href="https://vk.com/povest_let_slovenih">Сообщество ВКонтакте</a></li>
                    <li><a href="https://vk.com/thalium">CTO - Александр</a></li>
                    <li><a href="https://vk.com/mariya_music">Leading Methodologist - Мария</a></li>
                    
                  </ul>
            </div>
            <div class="col-sm-12 col-md-6">
              <h6>Быстрые ссылки:</h6>                
                  <ul>
                    <li><a class="nav-link4" href="{% url 'home' %}">Главная</a></li>
                    <li><a class="nav-link4" href="{% url 'articles_index' %}">Архив статей</a></li>
                  </ul>
            </div>
        </div>
      </div>
</footer>