{% extends "base.html" %}
{% load static %}
{% block page_content %}
<link href="{% static 'css/profile_page.css' %}" rel="stylesheet" />

<div class="container profile_page_container">
    <p class="block_header"></p>
    
    <div class="profile_test_card">
        <!-- <h3>hello</h3> -->
        <div class="greeting_row">
            <div class="profile_picture">👤</div>
            <div class="account_data">
                <ul>
                    <li>{{ request.user.first_name }}</li>
                    <li>{{ request.user.last_name }}</li>
                    <li>{{ request.user.email }}</li>
                </ul>
            </div>
            <div class="logout_toggler">
                <a 
                class="secondary_action_btn red_shadov_hovered" 
                style="background-color:#f04040;max-width:60px;"
                href="{% url 'logout' %}">Выйти</a>
                {% if profile.is_admin %}
                <a href="/admin/" 
                class="secondary_action_btn blue_shadov_hovered"
                style="max-width:60px;margin-top:8px;background-color: #1976d2;">Admin</a>
                {% endif %}
            </div>
        </div>        
        {{ tests_list }}
    </div>
    
</div>

{% endblock %}
